.pu-header {

  margin: 0 0 30px 0;

  .pu-header-title,
  p {

    @extend .type;
  }

  .pu-header-title {

    margin: 0 0 10px 0;
    @extend .font-title;
    @extend .font-bold;
  }

  > p {

    margin: 0 0 10px 0;

    &:last-child {

      margin: 0;
    }
  }
}
