header {

  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;

  width: 100%;
  height: 550px;
  padding: 40px 0 0 0;
  background: #373737;

  /*
  Main header title
  ----------------- */

  .peculiar-title {

    margin: 0 0 20px 0;
    font-size: 50px;
    color: #fff;

    @extend .peculiar-logo;
  }

  .peculiar-subtitle {

    margin: 0 0 70px 0;
    font-size: 15px;
    color: #fff;
  }

  /*
  Example screenshot
  ------------------ */

  .peculiar-screenie {

    > img {

      width: 800px;
      height: auto;
    }
  }
}
