nav {

  display: flex;
  justify-content: center;
  -webkit-justify-content: center;

  width: 100%;
  background: #2A2929;

  ul {

    display: flex;

    li {

      a {

        display: block;
        padding: 10px;
        color: grey;
        font-size: 14px;

        &:hover {

          color: #fff;
        }
      }
    }
  }
}
