/*
Main colour
palette
------- */

$peculiar = #9DDEE4;
$peculiar-light = #F0FCFD;
$peculiar-dark = #373737;

/*
Greys
----- */

$grey-light = #F8F8F8;
$grey-light-tint = #F0EDED;
$grey-medium = #D8D7D7;
$grey-shadow = #E4E4E4;

/*
Typography
--------- */

$type-primary = #000;
$type-secondary = #707070;
