html,
body {

  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

ul, ol {

  list-style: none;
}

* {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
