.pu-section {

  .pu-section-code {

    > pre {

      margin: 0;
      border-radius: 0 0 4px 4px;

      > .hljs {

        padding: 10px 0px 0px 0px;
        margin: 0 0 0 -70px;
      }
    }
  }
}
