.pu-section {

  .pu-section-display {

    .pu-section-display-label {

      width: 100%;
      display: block;
      padding: 10px;
      margin: 0;
      background: $grey-contrast;
      font-size: 12px;
      font-style: italic;

      @extend .type;
    }

    .pu-section-display-window {

      padding: 20px;

      > *:last-child {

        margin-bottom: 0!important;
      }

      .no-preview-available {

        color: $grey-medium;
        font-size: 12px;
        @extend .type; 
      }

    }
  }
}
