.pu-section {

  .pu-section-text {

    padding: 10px;
    background: #fff;

    @extend .type;
    color: $type-secondary;

    > p {

      margin: 0 0 10px 0;

      &:last-child {

        margin: 0;
      }
    }
  }
}
