html,
body {

  margin: 0;
  padding: 0;
  height: 100%;
}

* {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul,
ol {

  margin: 0;
  padding: 0;
  list-style: none;
}

a {

  text-decoration: none;
}

.reset-list {

  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-a {

  display: block;
  text-decoration: none;
}
