body {

  background: $grey-light;
}

.pu-wrap {

  display: table;
  width: 1100px;
  height: 100%;
  margin: 0 auto;

  .pu-nav,
  .pu-content {

    display: table-cell;
    vertical-align: top;
  }

  .pu-nav {

    width: 165px;
    padding: 25px 15px 0 15px;
  }

  .pu-content {

    width: 500px;
    max-width: 500px;
    padding: 25px 15px 0 15px;
  }
}
