/*
Peculiar UI Type.
Make sure you link
GoogleFont's Lato.
Styles used:
300, 400, 700, 900,
300italic, 400italic,
700italic
----------------- */

.type {
  color: $type-primary;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

/*
Typography
---------- */

.font-bold {
  font-weight: 700;
}

.font-boldest {
  font-weight: 800px;
}

.font-title {
  font-size: 18px;
}

.font-subtitle {
  font-size: 14px;
}
